
:root {
    --brown:#998675;
    --bg-hover:#362f2d;
    --p:#8c8c8c;
    --h:#555555;
}
h4 {
    font-size: 25px;
    color:var(--h);
}
p {
    font-size: 12px;
    color: var(--p);
}
body {
    height: 5000px;
}
/* start header  */
header {
    position: relative;
    height: 600px;
    margin-bottom: 20px;
}
nav {
    z-index: 1000;
   
}
nav .navbar-brand {
    font-family: "raleway" , sans-serif;
    font-weight: 400;
}
@media (max-width:991px) {
    nav .list {
        background-color: #111;
        padding-left: 20px;
    }
}
.navbar .link,.navbar-light .navbar-nav .link{
    color: white;
}
nav .icon {
    margin-left: 15px;
    width: 50px;
    color: white;
 
}
nav .icon .left {
    margin-right: 15px;
}
nav ul {
    margin-left: auto;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}
.carousel .carousel-item img {
    height: 600px;
}
.carousel {
    position: absolute;
    top: 0;
   
    
}

.carousel .carousel-item .caption {
    bottom: 140px;
}
.carousel .caption h5 {
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;

}
.carousel .caption h1 {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.carousel .caption p {
    font-size: 16px;
    font-family: "raleway", sans-serif;
    font-weight: 300;

}
.carousel .caption button {
    background-color: var(--brown);
    border-radius: 5px;
    border: none;
    font-weight: 800


}
.carousel .caption button a {
    color:white;
    
}
@media (max-width:525px) {
    .carousel .caption h1 {
        font-size: 25px;

    }
    .carousel .caption p {
        font-size: 12px;

    }
    .carousel .caption button {
        width: 120px;

    }
}
/* end  header  */

/* start services */
.services .service i {
    color:var(--h);
    font-size: 20px;
}
.services .service h6 {
    color:var(--h);
    font-size: 20px;
    font-family: "raleway", sans-serif;    
    
}
.services .service p {
    color:var(--p);
    font-size: 12px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;

}
.services .service hr {
    width: 50px;
    margin:15px auto ;
}
.services .service:hover i,.services .service:hover h6{
    color:var(--brown);
}
.services .service:hover hr {
    border-color: var(--brown);
}
/* end services */
/* start txt*/
.txt {
    background-color: #fbfaf8;
    padding-top: 50px;
}
.txt .container h4 { 
    font-size: 25px;      
    color:var(--h);
    font-weight: 600;
    font-family: "raleway", sans-serif;    

  
}
.txt .container p {
    margin-top:10px;
    width:70%;   
    font-size:12px;
    color:var(--p);
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}
.txt .container .images {
    margin-top:100px;
    display:flex;
    justify-content: space-between;
    
}
.txt .container img {
    width:40%;   
    height:400px;
    
}
.txt .container img :nth-of-type(2) {
    height:380px
}

.txt .container .center {
    height:500px;
    width:70%;
    margin-top: -525px;
}
@media (max-width:990px) {
    .txt .container .center {
        margin-top:0;
        width: 100%;
        margin-bottom: 25px;
    }
}
@media (max-width:767px) {
    .txt .container p {
        width: 100%;
    }
}
/* end txt */
/* start textbox */
.textbox {
    background-image:url(../image/counter.jpg);
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -25px;
}
.textbox .container div h4 {   
    color:#fff;
    font-size: 25px;
    font-family: "raleway", sans-serif; 
    font-weight: 400;   

}
.textbox .container div h4 span {
    color:#998675;
}
.textbox .container div p {
    margin-top:15px;
    color:#998675;
    font-size:12px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}


.textbox .container button {
    background-color:var(--brown);
    width:120px;
    height:40px;
    padding-top:5px;
    font-size:12px;
    border:1px solid #998675;
    font-family: "raleway", sans-serif; 
    font-weight: 800; 
}

.textbox button a {
    color:white;
}


/* end textbox */
/* start projects */
.projects {
    padding-top: 50px;
    margin-bottom: 20px;
}
.projects .container > h4 {
    font-family: "raleway", sans-serif; 
    font-weight: 600; 
}


.projects .container >p {
    width: 70%;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

.projects ul {
    list-style: none;
    width: 90%;
    justify-content: space-between;
    color: var(--p);
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    
}
.projects ul li {
    border:1px solid var(--p);
    width: 120px;
    border-radius: 5px;
}
.projects ul li:hover{
    cursor: pointer;
}
.projects ul li.active {
    background-color: var(--brown);
    color: white;
}
@media (max-width:767px) {
    .projects ul li {
    margin: 10px auto;
    }
}
.projects .last-projects .project {
    margin-bottom: 15px;    
    
}

.projects .last-projects .project:hover ,.project2:hover  {
    color:#fff;
    background-color: #362f2d;
}
.projects .last-projects .project :hover p,.project2:hover p {

    color:#fff;
}
.projects .last-projects .project :hover h6,.project2:hover h6 {
    color:#fff;

}

.projects .last-projects  h6 {
    margin-top:10px;
    margin-bottom: 10px;
    color:#998675;
    font-size:18px;
    font-weight:300;
    font-family: "raleway", sans-serif; 
    font-weight: 500; 
}
.projects .last-projects  p {
    font-family: "montserrat", sans-serif;
    font-weight: 300;

}
.projects .last-projects  .image {
    width:100%;
    height:160px;
    background-size: 100% 100%;
    position:relative;
}
.projects .last-projects  .image1 {

    background-image :url(../image/project1.jpg);
   
}
.projects .last-projects  .image2 {

    background-image :url(../image/project2.jpg);
}
.projects .last-projects  .image3 {

    background-image :url(../image/project3.jpg);
   
}
.projects .last-projects  .image4 {

    background-image :url(../image/project4.jpg);
 
}
.projects .last-projects  .image5 {

    background-image :url(../image/project5.jpg);
 
}
.projects .last-projects  .image6 {

    background-image :url(../image/project6.jpg);
}

.projects .last-projects   .fa-link {
    position:absolute;
    top:50%;
    right:20%;
    color:#fff;    
}
.projects .last-projects  .fa-search {
    position:absolute;
    top:50%;
    right:80%;
    color:#fff;
  
}
.projects .last-projects .hidden,.projects .last-projects .hide {
    display:none ;
}
.projects button {
    width:20%;
    height:60px;
    background-color: #998675;
    color:#fff;
    border: none;
}

/* start projects */
/* start video  */
.video {
    background-image: url(../image/video.jpg);
    background-size: 100% 100%;
    color: white;
    height: 400px;    
    padding-top: 150px;
    margin-bottom: 50px;
}
.video i {
    font-size: 30px;
    margin-bottom: 20px;
}
.video p {
    width: 60%;
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}
.video h4 {
    color: white;
    font-family: "raleway", sans-serif; 
    font-weight: 500; 
}
/* end video  */
/* start features  */
.features {

}
.features .text {
    padding-top: 50px;
}
.features .text h4 {
    font-family: "raleway", sans-serif; 
    font-weight: 600; 

}
.features .text p {
    margin-bottom: 40px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}
.features img {
    width: 100%;
}
.features ul {
    color:var(--p);
    list-style: none;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

.features ul i {
    color:var(--brown);
    font-size: 16px;
    margin-right: 15px;
}
/* end features  */
/* START COUNTER  */
.counter {
    background-image: url(../image/counter.jpg);
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.counter .container {
    padding-left: 100px;
    padding-right: 100px;
}
.counter .box {
    margin-bottom: 20px;
}
.counter i {
    font-size: 40px;
    color: var(--brown);
}

.counter p {
    color: var(--brown);
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}
.counter .num {
    color:white;
    font-size: 30px;
    font-family: "montserrat", sans-serif;
    font-weight: 200;
}
.counter hr {
    border-color: var(--brown);
    width: 40px;
    margin-right: auto;
    margin-left: auto;
}
/* end COUNTER  */
/* start posts  */
.posts {
    padding-top: 40px;
    padding-bottom: 40px;
}

.posts .container > h4 {
    font-family: "raleway", sans-serif; 
    font-weight: 600; 
}

.posts .container > p {
    width: 70%;  
    font-family: "montserrat", sans-serif;
    font-weight: 300;  
}
.posts .ourposts {
    height: 350px;
    overflow: hidden;
}
.posts .ourposts .post {
    float: left;
    width: 32%;
   
}
.posts .ourposts .post:first-child {
    left:0
}
.posts .ourposts .post:nth-child(2) {
    left:34%

}
.posts .ourposts .post:nth-child(3) {
    left:68%;
    
}
.posts .ourposts .post:nth-child(4) {
    left: 102%;
    
}
.posts .ourposts .post:nth-child(5) {
    left: 136%;
    
}
@media (max-width:767px) {
    .posts .ourposts .post {
        float: left;
        width: 49%;
    }
    .posts .ourposts .post:first-child {
        left:0
    }
    .posts .ourposts .post:nth-child(2) {
        left:51%;
    
    }
    .posts .ourposts .post:nth-child(3) {
        left:102%;
        
    }
    .posts .ourposts .post:nth-child(4) {
        left: 153%;
        
    }
    .posts .ourposts .post:nth-child(5) {
        left: 204%;
        
    }

}
@media (max-width:500px) {
    .posts .ourposts .post {
        float: left;
        width: 100%;
    }
    .posts .ourposts .post:first-child {
        left:0
    }
    .posts .ourposts .post:nth-child(2) {
        left:100%;
    
    }
    .posts .ourposts .post:nth-child(3) {
        left:200%;
        
    }
    .posts .ourposts .post:nth-child(4) {
        left: 300%;
        
    }
    .posts .ourposts .post:nth-child(5) {
        left: 400%;
        
    }

}
.posts .post .date {
    top: 15px;
    left: 15px;
    height: 50px;
    width: 40px;
    background-color: #000;
}
.posts .post h5 {
    font-size: 16px;
    color: var(--h);
    font-family: "raleway", sans-serif; 
    font-weight: 500; 
}
.posts .post p {
    font-family: "montserrat", sans-serif;
    font-weight: 300; 
}
.posts .post a {
    color: var(--brown);
    font-family: "montserrat", sans-serif;
    font-weight: 300; 
}
.posts .post a i {
    margin-left: 5px;
}
.posts .post img {
    height: 140px;
}
.posts .pagination  {
    color: var(--brown);
    padding-left: 46%;
    padding-top: 15px;
}
.posts .pagination i {
    font-size: 25px;
    cursor: pointer;
}
.posts .pagination .right {
    margin-left: 15px;
}
.posts .post:hover h5{
    color: var(--brown);
}
.posts .pagination i.disable{
    opacity: 0.3;
    cursor: unset;
}
.posts .post:hover .date {
    background-color: var(--brown);
}
.posts .post:hover p {
    color: white;
}
.posts .post:hover .content {
    background-color: var(--bg-hover);
}
/* end posts  */
/* start partners  */
.partners {
    clear: both;
    background-image: url(../image/bg-partners.png);
    background-size: 100% 100%;
}
.partners img {
    width: 100%;
}
/* end partners  */
/* start footer  */
footer {
    background-color: #191919;
}
footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
footer h4 {
    color:white;
    font-family: "raleway", sans-serif; 
    font-weight: 700; 
}
footer .row p {
    color: var(--h);
    font-family: "montserrat", sans-serif;
    font-weight: 300; 
}
footer .row .about a {
    color: white;
}
footer .row .about a i {
    margin-left: 5px;
}
footer .row .twitter p {
    margin-bottom: 0;
}
footer .row .twitter span {
    color:#00bff3;
}
footer .box .images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .box .images img {
    width: 48%;
    margin-bottom: 10px;
}
footer .date {
    color: #363636;
}
footer hr {
    border-color: #363636;
}
.copyright {
    background-color: #111;
    color: var(--h);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "montserrat", sans-serif;
    font-weight: 300; 
}


.copyright span {
    color: white;
}
.copyright .left {
    text-align: left;
}
.copyright p {
    text-align: right;
}
@media (max-width:767px) {
    .copyright .left,.copyright p{
        text-align: center;
    }
}
/* end  footer  */